<ion-view title="Daily日报">

    <ion-refresher on-refresh="doRefresh()" pulling-icon="ion-ios7-arrow-thin-down" pulling-text="下拉刷新..." refreshing-text="" refreshing-icon="ion-ios7-reloading">
    </ion-refresher>

    <ion-list option-buttons="optionButtons">
        
        <div ng-repeat-start="item in dailys" class="item item-divider" ng-if="item.isDivider">
            {{ item.title }}
        </div>
        <ion-item ng-repeat-end ng-href="#/daily/news/{{item.id}}" ng-if="!item.isDivider" class="item item-thumbnail-left">
            <img ng-src="{{ item.thumbnail }}">
            <h2>{{ item.title }}</h2>
            <h4>{{ item.artist }}</h4>
        </ion-item>
        
    </ion-list>
    
    <ion-infinite-scroll on-infinite="loadBefore()" distance="1%" icon="ion-loading-c"></ion-infinite-scroll>

</ion-view>